.testList {
  display: flex;
  flex: 1;
  height: 100%;
  overflow-y: scroll;
  flex-direction: column;
  color: #333;
  box-sizing: border-box;
  padding: 0;
  background: #ffffff; }
  .testList .singleChoose {
    padding: 15px; }
    .testList .singleChoose .title {
      font-size: 18px;
      color: #2c3038;
      line-height: 30px;
      font-weight: 600;
      -ms-flex-align: center;
      align-items: center; }
      .testList .singleChoose .title em {
        display: inline-block;
        font-size: 12px;
        color: #09f;
        height: 20px;
        width: 32px;
        border: 1px solid #09f;
        border-radius: 4px;
        font-style: normal;
        line-height: 18px;
        text-align: center;
        margin-left: 7px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        vertical-align: middle; }
    .testList .singleChoose img {
      padding-top: 13px;
      max-width: 100%;
      max-height: 200px;
      border-radius: 6px; }
  .testList .chooseBdoy {
    margin-top: 15px;
    padding: 0 15px 15px; }
    .testList .chooseBdoy .item {
      margin-bottom: 20px;
      position: relative;
      min-height: 50px;
      -webkit-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.06);
      box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.06);
      padding: 15px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
      .testList .chooseBdoy .item .showRW {
        position: absolute;
        right: 10px;
        top: 6px; }
        .testList .chooseBdoy .item .showRW b {
          font-size: 12px;
          font-weight: 100; }
        .testList .chooseBdoy .item .showRW img {
          width: 64px;
          height: 38px; }
      .testList .chooseBdoy .item .icon-weixuan, .testList .chooseBdoy .item .icon-fang {
        margin-right: 15px;
        font-size: 20px;
        color: #dadada;
        vertical-align: top; }
      .testList .chooseBdoy .item .icon-xuanzhong, .testList .chooseBdoy .item .icon-dianzhong {
        margin-right: 15px;
        font-size: 20px;
        color: #0099FF; }
      .testList .chooseBdoy .item .itemContent {
        line-height: 20px;
        vertical-align: top; }
      .testList .chooseBdoy .item .itemImg {
        padding-top: 20px;
        padding-left: 50px;
        max-width: 100%;
        max-height: 150px;
        display: block; }
      .testList .chooseBdoy .item b {
        font-size: 12px;
        font-weight: 100; }
      .testList .chooseBdoy .item .icon-duihao {
        color: #0099FF; }
      .testList .chooseBdoy .item .icon-chahao {
        color: #FF5651; }
      .testList .chooseBdoy .item div img {
        margin-top: 10px;
        margin-left: 40px;
        max-width: 60%;
        vertical-align: top; }
  .testList .analysis {
    padding: 20px 15px;
    background: rgba(0, 153, 255, 0.12); }
    .testList .analysis .title {
      font-size: 15px;
      color: #0099FF;
      line-height: 21px;
      width: 34px;
      min-width: 34px; }
    .testList .analysis .analysisContent {
      margin-left: 5px;
      font-size: 15px;
      color: #333333;
      line-height: 21px; }
    .testList .analysis .row {
      display: flex; }
      .testList .analysis .row em {
        margin-left: 5px; }
      .testList .analysis .row .icon-chahao {
        color: #ff5651; }
      .testList .analysis .row .icon-duihao {
        color: #20C505; }
    .testList .analysis .row:first-child {
      margin-bottom: 10px; }
  .testList .controlbar {
    height: 50px;
    border-top: 1px solid #E5E5E5;
    position: absolute;
    width: 100%;
    bottom: 0;
    background: #fff; }
    .testList .controlbar span.goTo, .testList .controlbar span.goBack {
      display: inline-block;
      height: 50px;
      line-height: 50px;
      font-size: 16px;
      width: 25%;
      text-align: center;
      color: #0099FF; }
    .testList .controlbar span.noClick {
      display: inline-block;
      height: 50px;
      line-height: 50px;
      font-size: 16px;
      width: 25%;
      text-align: center;
      color: #9B9B9B; }
    .testList .controlbar span.footBar {
      display: inline-block;
      height: 50px;
      line-height: 50px;
      font-size: 14px;
      width: 50%;
      text-align: center;
      color: #2E2E2E; }
      .testList .controlbar span.footBar b {
        font-size: 20px;
        color: #FF5651; }
  .testList .DisplayResult {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.8); }
    .testList .DisplayResult > div {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .testList .DisplayResult > div .fail {
        background: #FFFFFF url("http://supershoper.xxynet.com/vsvz1533210585941") no-repeat; }
      .testList .DisplayResult > div .pass {
        background: #FFFFFF url("http://supershoper.xxynet.com/vsvz1533210951788") no-repeat; }
      .testList .DisplayResult > div .showBlock {
        display: flex;
        flex-direction: column;
        border-radius: 4px;
        width: 88%;
        height: 54%;
        margin: 0 auto;
        position: relative;
        background-size: 100% 100%; }
        .testList .DisplayResult > div .showBlock .shanchu {
          outline: none;
          position: absolute;
          bottom: -52px;
          right: 45%;
          width: 10%; }
        .testList .DisplayResult > div .showBlock > div {
          display: flex;
          flex: 1;
          flex-direction: row;
          justify-content: center;
          align-items: flex-start;
          padding-top: 15px; }
          .testList .DisplayResult > div .showBlock > div p {
            display: flex;
            flex: 1;
            justify-content: center;
            flex-direction: column; }
            .testList .DisplayResult > div .showBlock > div p em {
              display: flex;
              font-size: 40px;
              justify-content: center;
              color: #333333;
              letter-spacing: 0;
              font-style: normal;
              font-weight: 600; }
            .testList .DisplayResult > div .showBlock > div p span {
              font-size: 15px;
              color: #9B9B9B;
              letter-spacing: 0;
              align-items: flex-start; }
          .testList .DisplayResult > div .showBlock > div span {
            display: flex;
            flex: 1;
            justify-content: center;
            align-items: center; }
          .testList .DisplayResult > div .showBlock > div span.tryOne {
            margin-left: 20px; }
            .testList .DisplayResult > div .showBlock > div span.tryOne b {
              background: #eeeeee;
              border-radius: 4px;
              display: inline-block;
              height: 40px;
              width: 86%;
              text-align: center;
              line-height: 40px;
              font-weight: normal;
              letter-spacing: 1px;
              color: #707070; }
          .testList .DisplayResult > div .showBlock > div span.details {
            margin-right: 20px; }
            .testList .DisplayResult > div .showBlock > div span.details b {
              background: #FF5651;
              border-radius: 4px;
              display: inline-block;
              height: 40px;
              width: 86%;
              text-align: center;
              line-height: 40px;
              font-weight: normal;
              letter-spacing: 1px;
              color: #FFFFFF; }
        .testList .DisplayResult > div .showBlock div.empty {
          display: flex;
          flex: 2; }
  .testList .bottomMar {
    margin-bottom: 50px; }

.none {
  display: none !important; }
