 .nodata{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    color:#909090;
    font-size:13px;
    // position:absolute;
    width:100%;
    // top:15px;
    // left:50%;
    //transform:translateX(-50%);
    flex-direction: column;
    height:300px;
    background-color:#fff;
   .statusDiv{
     display: flex;
     flex-direction: column;
     align-items: center;
    //  margin-top:15%;
     img{
       width:40%;
       display:flex;
       margin-bottom:10px;
     }
     p{
       display:flex;
     }
   }
   .statusDiscuss{
     img{
       width:50%;
     }
    }
  }