#onlineExamPaper{
  display: flex;
  flex: 1;
  height: 100vh;
  flex-direction: column;
  color: #333;
  box-sizing: border-box;
  padding: 0;
  background: #ffffff;
  .tabHeader{
    width: 100%;
    height: 42px;
    background: #fff;
    border-bottom: 1px solid #dddddd;
    span{
      width: 50%;
      display: inline-block;
      text-align: center;
      line-height: 42px;
    }
    span.active{
      b{
        font-size: 15px;
        color: #333333;
        font-weight: 600;
        height: 42px;
        display: inline-block;
        padding: 0 2px;
        position: relative;
        &:after{
          content: '';
          display: block;
          border: none;
          background: #FF5651;
          height: 2px;
          width: 30px;
          position: absolute;
          bottom: 0px;
          left: calc(50% - 15px);
        }
      }
    }
    span.lose{
      b{
        font-weight: normal;
        color: #9B9B9B;
        height: 42px;
        display: inline-block;
      }
    }
  }
  .button{
    background: #FF5651;
    border-radius: 4px;
    padding: .8rem;
    color: #fff;
    text-align: center;
    width: 88%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .singleChoose{
    padding: 15px;
    .title{
      font-size: 18px;
      color: #2C3038;
      line-height: 30px;
      font-weight: 600;
      //display: flex;
      align-items: center;
      //em{
      //      //  margin-right: 5px;
      //      //  text-align: center;
      //      //  width: 37px;
      //      //  height: 20px;
      //      //  line-height: 20px;
      //      //  display: inline-block;
      //      //  font-style: normal;
      //      //  font-weight: 100;
      //      //  font-size: 12px;
      //      //  border-bottom-right-radius: 7px;
      //      //  border-top-left-radius: 7px;
      //      //  color: #fff;
      //      //  letter-spacing: 2px;
      //      //  background: linear-gradient(-128deg, #48bcc6 0%, #77dfc0 100%);
      //      //}
      em{
        display: inline-block;
        font-size: 12px;
        color: #0099FF;
        height: 20px;
        width: 32px;
        border: 1px solid #0099FF;
        border-radius: 4px;
        font-style: normal;
        vertical-align: text-top;
        line-height: 18px;
        text-align: center;
        margin-left: 7px;
        box-sizing: border-box;
      }
      i{
        font-style: normal;
        margin-right: 10px;
      }
    }

    .img{
      margin-top: 15px;
       img{
        width: 100%;
        max-height: 194px;
        border-radius: 6px;
      }
    }
  }
  .chooseBdoy{
    padding: 15px;

    .item{
      margin-bottom: 20px;
      position: relative;
      min-height: 50px;
      box-shadow: 0 4px 20px 0 rgba(0,0,0,0.06);
      padding: 15px;
      box-sizing: border-box;
      .showRW{
        position: absolute;
        right: 10px;
        top: 6px;
        b{
          //float: right;
          font-size: 12px;
          font-weight: 100;
        }
        img{
          width: 64px;
          height: 38px;
        }
      }
      .icon-weixuan,.icon-fang{
        margin-right:15px;
        font-size: 20px;
        color: #dadada;
        vertical-align: top;
      }
      .icon-xuanzhong,.icon-dianzhong{
        margin-right:15px;
        font-size: 20px;
        color: #0099FF;
      }
      .itemContent{
        line-height: 20px;
        vertical-align: top;
        display: inline;
      }
      .icon-duihao{
        color: #0099FF;
      }
      .icon-chahao{
        color: #FF5651;
      }
      .itemImg{
            margin-top: 10px;
            margin-left: 40px;
            max-width: 80%;
            vertical-align: top;
      }

    }
    .onlineExamPaper_hr{
        border: none;
        margin: 0;
        margin-top: 15px;
        height: 1px;
        width: 100%;
        background-color: #EFEFEF;
    }
  }
  .estimateBody{

  }
  .analysis{
    padding: 20px 15px;
    background: rgba(0, 153, 255, 0.12);
    .title{
      font-size: 15px;
      color: #0099FF;
      line-height: 21px;
      width: 34px;
      min-width: 34px;
    }
    .analysisContent{
      margin-left: 5px;
      font-size: 15px;
      color: #333333;
      line-height: 21px;
    }
    .row{
      display: flex;
      em{
        margin-left: 5px;
      }
      .icon-chahao{
        color: #ff5651;
      }
      .icon-duihao{
        color: #20C505;
      }
    }
    .row:first-child{
      margin-bottom: 10px;
    }
  }
  .controlbar{
    height: 50px;
    border-top: 1px solid #E5E5E5;
    position: fixed;
    width: 100%;
    bottom: 0;
    background: #fff;
    span.goTo,span.goBack{
      display: inline-block;
      height: 50px;
      line-height: 50px;
      font-size: 16px;
      width: 25%;
      text-align: center;
      color: #0099FF;
    }
    span.noClick{
      display: inline-block;
      height: 50px;
      line-height: 50px;
      font-size: 16px;
      width: 25%;
      text-align: center;
      color: #9B9B9B;
    }
    span.footBar{
      display: inline-block;
      height: 50px;
      line-height: 50px;
      font-size: 14px;
      width: 50%;
      text-align: center;
      color: #2E2E2E;
      span{
        font-size: 20px;
        color: #FF5651;
      }
    }
  }
  .remainTime {
    padding: 10px 0;
    background: #F6FBFF;
    width: 100%;
    span{
      display: inline-block;
      width: 100%;
      text-align: center;
      font-size: 18px;
      font-weight: 600;
      color: #2999e4;
      background: #F6FBFF;
      line-height: 40px;
    }
  }
  .single{
    .bottomMar{
      height: calc(100vh - 60px);
      overflow: auto;
    }
  }
  .mul{
    .bottomMar{
      height: calc(100vh - 60px);
      .mulBtn{
        height: 100%;
        overflow: auto;
        padding-bottom: 40px;
      }
    }

  }
  .none{
    display: none !important;
  }
  .DisplayResult{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10000;
    top:0;
    background: rgba(0, 0, 0, 0.8);
    .gold{
      position:absolute;
      height: 100%;
      top:0;
      z-index: 10000;
      span{
        position: absolute;
        bottom: 30px;
        background: #000000;
        color: #FFC810;
        width: 35vw;
        text-align: center;
        height: 40px;
        line-height: 40px;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
        img{
          width: 15px;
          height: 15px;
          margin-right: 15px;
        }
        i{
          font-style: normal;
          font-size: 13px;
        }
      }
      img{
        height: 100%;
      }
    }
    >div{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .fail{
        background: #FFFFFF;
      }
      .pass{
        background: #FFFFFF;
      }
      .showBlock{
        display: flex;
        flex-direction:column;
        border-radius: 4px;
        width: 88%;
        height: 60%;
        margin: 0 auto;
        position: relative;
        background-size:100% 100%;
        .shanchu{
          outline: none;
          position: absolute;
          top: -44px;
          right: 0;
          width: 8%;
        }
        >div{
          display: flex;
          flex: 1;
          flex-direction:row;
          justify-content: center;
          align-items: flex-start;
          padding-top: 15px;
          p{
            display: flex;
            flex: 1;
            justify-content: center;
            flex-direction:column;
            em{
              display: flex;
              font-size: 40px;
              justify-content: center;
              color: #333333;
              letter-spacing: 0;
              font-style: normal;
              font-weight: 600;
            }
            span{
              font-size: 15px;
              color: #9B9B9B;
              letter-spacing: 0;
              align-items: flex-start;
            }
          }
          p.score{

          }
          p.error{

          }
          span{
            display: flex;
            flex: 1;
            justify-content: center;
            align-items: center;
          }
          span.tryOne b{
            border: 1px solid #FF5651;
            border-radius: 50px;
            display: inline-block;
            height: 40px;
            width: 86%;
            text-align: center;
            line-height: 40px;
            font-weight: normal;
            color: #FF5651;
          }
          span.details b{
            background: #FF5651;
            border-radius: 50px;
            display: inline-block;
            height: 40px;
            width: 135px;
            text-align: center;
            line-height: 40px;
            font-weight: normal;
            color: #FFFFFF;
          }
        }
        div.empty{
          display: flex;
          flex: 2;
          overflow: hidden;
          align-items: center;
          justify-content: center;
          img{
            max-height: 100%;
            max-width: 100%;
          }
        }
      }
    }
  }
}

