
.whitebg1{
    background: #fff;
    padding-left: 15px;
    margin-bottom: 10px;
    .none{
        display: none;
    }
    .zanp{
        color: #333333;
        font-size: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 15px 15px 0;
        font-weight: 500;
        i{
            color: #c7c7c7;
            font-size: 13px;
            // margin-right: 5px;
        }
    } 
    .photos{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding-bottom: 15px;
        margin: 0;
        img{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-right: 9px;
        }
    } 
}
        