.lalaLoading{
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.15);
  height: 100%;
  z-index: 10000;
  img{
    width: 40%;
    outline: aliceblue;
    margin-top: 40%;
  }
}