.whitebgs {
  background: #fff;
  padding: 0;
  margin-bottom: 10px; }
  .whitebgs .comstitle {
    color: #2d2d2d;
    font-size: 15px;
    padding: 15px 0;
    font-weight: 500; }

ul.comlist {
  padding-bottom: 10px;
  /*.rightcom
    .art-img{
        width: 100%;
    }*/ }
  ul.comlist li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e5e5e5;
    padding: 15px; }
    ul.comlist li img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-right: 10px; }
    ul.comlist li div {
      flex: 1;
      align-items: flex-start;
      display: flex;
      flex-direction: column; }
      ul.comlist li div p:first-child {
        flex: 1;
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-size: 16px; }
        ul.comlist li div p:first-child span {
          flex: 1; }
        ul.comlist li div p:first-child span:first-child {
          color: #333; }
        ul.comlist li div p:first-child span:last-child {
          text-align: right;
          color: #707070;
          font-size: 14px; }
        ul.comlist li div p:first-child i {
          margin: 0 5px 0 20px;
          font-size: 14px; }
        ul.comlist li div p:first-child i.red {
          color: #ff5651; }
      ul.comlist li div p:nth-child(2) {
        color: #9b9b9b;
        font-size: 12px;
        margin-top: 2px; }
      ul.comlist li div p:last-child {
        color: #333;
        font-size: 15px;
        line-height: 23px;
        margin-top: 6px; }
  ul.comlist .excellent {
    height: 18px;
    font-style: normal;
    font-size: 10px;
    background: rgba(255, 86, 81, 0.15);
    color: #ff5651;
    line-height: 18px;
    display: inline-block;
    padding: 0 5px;
    border-radius: 5px;
    margin-left: 5px; }
