.listview-wrapper {
  overflow-y: scroll;
  position: relative;
  height: 100%;
  -webkit-overflow-scrolling: touch; }
  .listview-wrapper .listview-loading > div {
    background-color: rgba(217, 82, 82, 0.75); }
  .listview-wrapper .listview-pull-ui {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background: none;
    height: 50px; }
    .listview-wrapper .listview-pull-ui .pull-ui-info {
      height: 50px;
      overflow: hidden;
      color: white;
      background: none;
      text-align: center;
      line-height: 50px; }
      .listview-wrapper .listview-pull-ui .pull-ui-info span {
        color: rgba(108, 108, 108, 0.75); }
    .listview-wrapper .listview-pull-ui .listview-loading {
      display: inline-block;
      height: 100%;
      line-height: 50px; }
  .listview-wrapper .listview-content {
    background-color: white;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 20; }
    .listview-wrapper .listview-content .on-end-reached-loading {
      height: 50px;
      line-height: 50px; }
      .listview-wrapper .listview-content .on-end-reached-loading .spinner > div {
        background-color: rgba(0, 0, 0, 0.5); }
